body {
       padding-top: 100px;
}

.hero {
	background-image: url('/static/web/img/osm_lusaka.png')
}

#bigblock {
}

#bigblock h1 {
	font-size: 60pt;
	font-style: bold;
}

#bigblock p {
	background-color: white;
}
.statsblock {
	height: 150px;
	color: #202040;
	text-align: center;
}

.statsblock h1 {
	text-align: center;
	font-size: 80pt;
	padding: 0px;
	line-height: 50pt;
}

.statsblock img {
	height: 100px;
}

.text-whiteonblack {
	background-color: black;
	color: #ffffff;
}
