{% extends "web/base.html" %}

{% block title %}FRACTAL{% endblock %}

{% block content %}

<div class="container">
	<div class="row">

		<div class="col-md-8 well hero" id="bigblock">
			<h1>FRACTAL</h1>
			<h3>Future Resilience for African Cities and Lands</h3>
			<p>FRACTAL is one of the Future Climate For Africa (FCFA) regional consortia that are currently being launched. Led by the Climate System Analysis Group (CSAG) at the University of Cape Town, the FRACTAL project is focussed specifically on climate risks and decision making in cities within their regional dependencies.</p>

			<p>The project’s overarching aim is to advance scientific knowledge about regional climate responses to anthropogenic forcings, and to enhance the integration of this knowledge into decision making at the co-dependent city-region scale that responsibly contributes to resilient development pathways. This is addressed through an iterative, transdisciplinary co-exploration / co-production approach, worked through a set of deep-focus case studies.</p>
		</div>

		<div class="col-md-4" id="bigblock">
			<div class="thumbnail">
				<img class="img-responsive" style="height: 100px;" src="/static/web/img/300px-DfID.svg_1.png">
			</div>
			<div class="thumbnail">

				<img class="img-responsive" style="height: 100px;" src="/static/web/img/nerc-logo-115.png">
			</div>

		</div>


	</div>
	<div class="row">

		<div class="col-md-2">
			<div class="thumbnail statsblock">
				<h1>8</h1>
				<div class="caption">Cities</div>
    		</div>
    	</div>

		<div class="col-md-3">
			<div class="thumbnail statsblock">
				<img src="/static/web/img/Windhoek.png">
				<div class="caption text-whiteonblack"><a href="/cities/windhoek/">Windhoek</a></div>
    		</div>
    	</div>

		<div class="col-md-3">
			<div class="thumbnail statsblock">
				<img src="/static/web/img/Lusaka.png">
				<div class="caption text-whiteonblack">Lusaka</div>
    		</div>
    	</div>

		<div class="col-md-3">
			<div class="thumbnail statsblock">
				<img src="/static/web/img/Maputo.png">
				<div class="caption text-whiteonblack">Maputo</div>
    		</div>
    	</div>

		<div class="col-md-2">
			<div class="thumbnail statsblock">
				<img src="/static/web/img/Cape Town.png">
				<div class="caption text-whiteonblack">Cape Town</div>
    		</div>
    	</div>

		<div class="col-md-2">
			<div class="thumbnail statsblock">
				<img src="/static/web/img/Durban.png">
				<div class="caption text-whiteonblack">Durban</div>
    		</div>
    	</div>

		<div class="col-md-2">
			<div class="thumbnail statsblock">
				<img src="/static/web/img/Windhoek.png">
				<div class="caption text-whiteonblack">Gabarone</div>
    		</div>
    	</div>

		<div class="col-md-2">
			<div class="thumbnail statsblock">
				<img src="/static/web/img/Windhoek.png">
				<div class="caption text-whiteonblack">Harare</div>
    		</div>
    	</div>

		<div class="col-md-2">
			<div class="thumbnail statsblock">
				<img src="/static/web/img/Windhoek.png">
				<div class="caption text-whiteonblack">Blantyre</div>
    		</div>
    	</div>

    </div>
	
	<div class="row">
		And this is where?
	</div>

</div>

{% endblock %}
